.reloadBtn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.reloadIcon {
  fill: var(--font-secondary);
}

.night.reloadBtn {
  fill: var(--font-secondaty-night);
}

.reloadIcon:hover {
  fill: var(--font-primary);
}

