html {
  background: linear-gradient(to bottom, #013ADF, #138CE6);
  background-attachment: fixed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

.app {
  height: 100%;
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container {
  position: relative;
  background-color: rgba(0, 71, 103, 0.3);
  height: fit-content;
  width: 400px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.loading::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 90;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.spinner {
  display: none;
}

.loading .spinner {
  position: absolute;
  display: block;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

hr {
  --color: rgba(0, 179, 255, 0.8);
  height: 1px;
  width: 100%;
  background-color: var(--color);
  color: var(--color);
  border: none;
}

.notification {
  background-color: rgba(2, 33, 47, 0.3);
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 0.3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.weather-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  height: 220px;
  overflow: hidden;
}

.weather-icon i {
  transform: translateY(-18px);
}

.t-value {
  font-size: 4rem;
  cursor: pointer;
  padding: 0.8rem 0.8rem 0;
  border-radius: 10px;
  transition: background-color 200ms ease;
}

.t-value:hover {
  background-color: rgba(2, 33, 47, 0.3);
  transition: background-color 150ms ease;
}

.t-value .units {
  font-size: 3.9rem;
}

.t-desc {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.location {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.credits {
  text-align: center;
  color: rgba(184, 234, 255, 0.8);
}

a {
  color: inherit;
}

a:hover {
  color: white;
}