:root {
  --bg-start: #013ADF;
  --bg-end: #138CE6;
  --bg-container: rgba(0, 71, 103, 0.3);
  --bg-container-overlay: rgba(2, 33, 47, 0.3);
  --bg-loading: rgba(0, 0, 0, 0.5);
  --font-primary: white;
  --font-secondary: rgba(184, 234, 255, 0.8);
  --precipitation: #62daff;
  /* ^ This color is currently hardcoded into SVGs! */
  --divider: rgba(0, 179, 255, 0.8);
  --divider-night: rgba(255, 255, 255, 0.4);
  --bg-start-night: #02062e;
  --bg-end-night: #0d0e61;
  --bg-container-night: rgba(0, 0, 0, 0.3);
  --bg-container-overlay-night: rgba(255, 255, 255, 0.1);
  --font-secondary-night: rgba(255, 255, 255, 0.45);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: var(--font-primary);
}



.app {
  min-height: 100%;
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(var(--bg-start), var(--bg-end));
  background-image: -moz-linear-gradient(var(--bg-start), var(--bg-end));
  background-image: -ms-linear-gradient(var(--bg-start), var(--bg-end));
  background-image: -o-linear-gradient(var(--bg-start), var(--bg-end));
  background-image: linear-gradient(var(--bg-start), var(--bg-end));
}

.app.night {
  background-image: -webkit-linear-gradient(var(--bg-start-night), var(--bg-end-night));
  background-image: -moz-linear-gradient(var(--bg-start-night), var(--bg-end-night));
  background-image: -ms-linear-gradient(var(--bg-start-night), var(--bg-end-night));
  background-image: -o-linear-gradient(var(--bg-start-night), var(--bg-end-night));
  background-image: linear-gradient(var(--bg-start-night), var(--bg-end-night));
}



hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: var(--divider);
  border: none;
}

.night hr {
  background-color: var(--divider-night);
}



.container {
  position: relative;
  background: var(--bg-container);
  height: fit-content;
  width: 400px;
  max-width: 100%;
  min-width: 320px;
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.night .container {
  background: var(--bg-container-night);
}

.container .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.container .header span {
  color: var(--font-secondary);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  transform: translateY(2px);
}

.night .container .header span {
  color: var(--font-secondary-night);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container:not(.skeleton) p,
.container:not(.skeleton) span {
  animation: fadein 500ms;
}

.container.loading::after {
  content: " ";
  position: absolute;
  display: block;
  z-index: 90;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  background: var(--bg-loading);
}



.weather hr {
  margin: 8px;
}

.weather .sub-title {
  font-size: 1.5rem;
}

.weather .title {
  padding-top: 0.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.weather .title .location {
  font-size: 3rem;
}

.weather .temperature {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.weather .temperature .units {
  font-size: 3.9rem;
}

.weather .temperature .switch-units {
  font-size: 3rem;
  color: var(--font-secondary);
  transition: color 150ms ease;
}

.weather:not(.skeleton) .temperature .switch-units:hover {
  cursor: pointer;
  color: var(--font-primary);
  transition: color 150ms ease;
}

.night .weather .temperature .switch-units {
  color: var(--font-secondary-night);
}

.weather .feels-like .value,
.weather .feels-like .units {
  font-size: 1.5rem;
  color: var(--font-secondary);
}

.night .weather .feels-like .value,
.night .weather .feels-like .units {
  font-size: 1.5rem;
  color: var(--font-secondary-night);
}

.weather .description {
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}



.forecast {
  /* gap: 5px; */
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.forecast .header {
  margin-top: 0.5rem;
  height: 2rem;
}

.night .forecast .header span {
  color: var(--font-secondary-night);
}

.forecast>.placeholder {
  width: 100%;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
}

.forecast>.placeholder span {
  font-size: 2rem;
  color: var(--font-secondary);
}

.night .forecast>.placeholder span {
  font-size: 2rem;
  color: var(--font-secondary-night);
}

.forecast .row {
  width: 100%;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto 48px 43px 43px;
  column-gap: 0.5rem;
  align-items: center;
}

.forecast .date {
  font-size: x-large;
}

.forecast .weather-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast .weather-icon .pop {
  color: var(--precipitation);
  font-size: 0.8rem;
  font-weight: bold;
}

.forecast .temp {
  text-align: center;
}

.forecast .temp .value {
  font-weight: bold;
  font-size: x-large;
}

.forecast .temp.min .value {
  color: var(--font-secondary);
}

.night .forecast .temp.min .value {
  color: var(--font-secondary-night);
}



.credits {
  padding-bottom: 1rem;
  text-align: center;
  color: var(--font-secondary);
}

.night .credits {
  color: var(--font-secondary-night);
}

.credits a {
  color: inherit;
}

.credits a:hover {
  color: var(--font-primary);
}



.dev-btns {
  display: flex;
  gap: 0.5rem;
}

.dev-btn {
  padding: 6px;
  background-color: var(--bg-container);
  border: none;
  border-radius: 5px;
  color: var(--font-primary);
  font-size: 1rem;
}

.night .dev-btn {
  background-color: var(--bg-container-night);
}

.dev-btn.danger {
  background-color: #ff4e4e;
  color: white;
}

.dev-btn:hover {
  cursor: pointer;
  background-color: var(--bg-container-overlay);
}

.night .dev-btn:hover {
  background-color: var(--bg-container-overlay-night);
}

.dev-btn.danger:hover {
  background-color: #b83737;
}