*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Rimouski";
}

.app {
  background-color: #293251;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.container {
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 1.5rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.notification {
  width: 100%;
  background-color: #FADAD8;
  color: #651410;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 15px;
}

.weather-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.t-value {
  font-size: 4rem;
  cursor: pointer;
}

.t-desc {
  font-size: 2rem;
}

.location {
  font-size: 1.4rem;
}